[core]
  askpass = true
  editor = code --wait
[user]
	name = leafbird
	email = florist.sk@gmail.com
[push]
	default = simple
[color]
	ui = true
[diff]
  tool = vscode
[alias]
  dt = difftool
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[format]
  pretty = format:%h %ai %cn %s
[pull]
	rebase = true
