[core]
  askpass = true
  editor = code --wait
[user]
	name = choisungki
	email = florist.sk@gmail.com
[push]
	default = simple
[color]
	ui = true
[diff]
  tool = vscode
[alias]
  dt = difftool
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[format]
  pretty = format:%h %ai %cn %s
[pull]
	rebase = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[safe]
	directory = D:/Dev/blog
	directory = D:/Dev/bside
	directory = D:/Dev/devnote
	directory = C:/Users/PC/dotfiles
