[core]
  askpass = true
  editor = gvim
[user]
	name = leafbird
	email = florist.sk@gmail.com
[push]
	default = simple
[color]
	ui = true
[diff]
  tool = gvimdiff
[alias]
  dt = difftool
[difftool]
  prompt = false
[merge]
  tool = gvimdiff
  confilictstyle = diff3
[mergetool]
  prompt = false
[format]
  pretty = format:%h %ai %s
